{{template "base/head" .}}
<div class="page-content home">
	<div class="ui middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg"/>
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<p>My repository box - full of code and other cool stuff.</p>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
